<div style="margin-top: 20px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="pseudo">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12"><img [src]="imglogo" alt=""></div>
              <div class="col-sm-12"></div>
              <div class="col-sm-12"><img class="imgpay" [src]="imgs[1]" alt=""></div>
              <div class="col-sm-12">Servicio Pagos</div>
              <div class="col-sm-12">Factura Numero: {{ valor }}</div>
              <div class="col-sm-12">Fecha: {{ fecha | date: 'dd/MM/yyyy' }}</div>
              <div class="col-sm-12">Cedula/RUC:</div>
              <div class="col-sm-12">Institucion:</div>
              <div class="col-sm-12">Nombre:</div>
              <div class="col-sm-12">Metodo de Pago:</div>
              <div class="col-sm-12">Diferido:</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">Detalle</div>
            </div>
            <div class="row">
              <div class="col-sm-8">Total amount</div>
              <div class="col-sm-4">300</div>
            </div>
            <div class="row">
              <div class="col-sm-8">Total amount</div>
              <div class="col-sm-4">300</div>
            </div>
            <div class="row">
              <div class="col-sm-8">Total amount</div>
              <div class="col-sm-4">300</div>
            </div>
            <div class="row">
              <div class="col-sm-8">Total amount</div>
              <div class="col-sm-4">300</div>
            </div>
            <div class="row">
              <div class="col-sm-8">Discount</div>
              <div class="col-sm-4">100</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-8">Payable amount</div>
              <div class="col-sm-4">200</div>
            </div>
            <div class="row text-center">
                <button class="btn btn-success">
                  confirm
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>