<nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand" href="#"><img [src]="imglogo"></a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Idioma
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="cambiar('es')">Espanol</a>
            <a class="dropdown-item" (click)="cambiar('en')">Ingles</a>
            <a class="dropdown-item" (click)="cambiar('dz')">Aleman</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-sm-12">
            <app-factura></app-factura>
        </div>
        <div class="col-xl-6 col-sm-12">
            <app-pagos></app-pagos>
        </div>
    </div>
</div>