<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand">Navbar</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Idioma
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Espanol</a>
            <a class="dropdown-item" href="#">Ingles</a>
            <a class="dropdown-item" href="#">Aleman</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-6">
            <app-pagos></app-pagos>
        </div>
        <div class="col-6">
            <app-factura></app-factura>
        </div>
    </div>
</div>