<section class="tab__container">
    <h1>{{ "servicios" | uppercase }}</h1>
    <div [ngSwitch]="tab">
      <div class="tab__title">
        <button class="tab__button tab_button-active" (click)="cambiarTab('one')"><img src="https://www.desertfinancial.com/-/media/caf282de9d344eb7a25365fa69ea6fd5.ashx">Tab Btn</button>
        <button class="tab__button" (click)="cambiarTab('two')"><img src="https://www.desertfinancial.com/-/media/cc54f257b5f64e1e97b8f9d4576fae12.ashx">Tab Btn</button>
        <button class="tab__button" (click)="cambiarTab('three')"><img src="https://www.desertfinancial.com/-/media/37d31d8e202b4fe0876ec00adc142c45.ashx">Tab Btn</button>
        <button class="tab__button" (click)="cambiarTab('four')"><img src="https://www.desertfinancial.com/-/media/c7cd8a3005104e3abea89f1d1348e157.ashx">Tab Btn</button>
  
      </div>
    <div *ngSwitchCase="'one'">
      <!---- Start tab ---->
        <div id="one" class="tab__inside tab__inside-active">
          <div class="tab__inside-img">
            <img src="https://www.desertfinancial.com/-/media/caf282de9d344eb7a25365fa69ea6fd5.ashx">
          </div>
          <div class="tab__inside-text">
          <h3>Tab One</h3>
          <p>Ne aliquam vulputate sadipscing mea. Ea possim explicari vel. Vim ad falli tincidunt neglegentur, et quas noster nec. Iusto legere omnesque mea an, per vidit equidem ea. Elitr iuvaret erroribus ex vis.</p>
          <button data-toggle="modal" data-target="#modalLRForm">button</button>
          </div>
          
        </div>
       <!---- End tab ---->    
      </div>
    <div *ngSwitchCase="'two'">
      <!---- Start tab ---->
    <div id="two" class="tab__inside tab__inside-active">
   <div class="tab__inside-img">
        <img src="https://www.desertfinancial.com/-/media/cc54f257b5f64e1e97b8f9d4576fae12.ashx">
      </div>
      <div class="tab__inside-text">
      <h3>Tab Two</h3>
      <p>Ne velit labitur vim, sit natum cotidieque cu. Ei consulatu consequuntur mel, sale illum salutatus vix te. Ne tollit vocibus mel. Tamquam recteque maiestatis mei eu. Qui et duis detracto argumentum.</p>
      <button>button</button>
      </div>
    </div>
   <!---- End tab ---->
  </div>
    <div *ngSwitchCase="'three'">
      <!---- Start tab ---->
    <div id="three" class="tab__inside tab__inside-active">
      <div class="tab__inside-img">
           <img src="https://www.desertfinancial.com/-/media/37d31d8e202b4fe0876ec00adc142c45.ashx">
            </div>
            <div class="tab__inside-text">
            <h3>Tab Three</h3>
            <p>Id dicit torquatos nec. Falli erant necessitatibus ea eam, eu erat viris commodo sit. Qui dicit civibus ad, nam velit graeco neglegentur te, ne nemore legimus vim. No duo augue vocent. Clita intellegebat ex duo, duo te tota quaeque instructior. Et sit tale sint accumsan.
    </p>
            <button>button</button>
            </div>
        </div>
        <!---- End tab ---->
      </div>
    <div *ngSwitchCase="'four'">
      <!---- Start tab ---->
    <div id="four" class="tab__inside tab__inside-active">
      <div class="tab__inside-img">
           <img src="https://www.desertfinancial.com/-/media/c7cd8a3005104e3abea89f1d1348e157.ashx">
         </div>
         <div class="tab__inside-text">
         <h3>Tab Four</h3>
         <p>Lorem ipsum dolor sit amet, sit mundi quidam voluptua et. Et atqui tation nec. An clita semper pri. Vero tractatos consequat sed ex, per mazim nominavi dissentiunt te.
         </p>
         <button>button</button>
         </div>
     </div>
     <!---- End tab ---->
    </div>
    <div *ngSwitchDefault>
     <h3>Seleccione un Servicio</h3>
    </div>
  </div>

</section>


  <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container">
      <div class="mGrid">
        <div class="total">
          <p>total</p>
          <p>$898</p>
        </div>
        <div class="detail">
          <p>detail</p>
          <ul>
            <li>iPad Pro</li>
            <li>$799</li>
          </ul>
          <ul>
            <li>Apple Pencil</li>
            <li>$99</li>
          </ul>
        </div>
        <button class="new">pay now</button>
      </div>
      <!-- Small Side Card detail-->
      <div class="subContainer">
        <p>Carly Ling</p>
        <!-- svg Logo-->
        <div class="visaCont">
          <svg class="visa" enable-background="new 0 0 291.764 291.764" version="1.1" viewbox="5 70 290 200" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <path class="svgcolor" d="m119.26 100.23l-14.643 91.122h23.405l14.634-91.122h-23.396zm70.598 37.118c-8.179-4.039-13.193-6.765-13.193-10.896 0.1-3.756 4.24-7.604 13.485-7.604 7.604-0.191 13.193 1.596 17.433 3.374l2.124 0.948 3.182-19.065c-4.623-1.787-11.953-3.756-21.007-3.756-23.113 0-39.388 12.017-39.489 29.204-0.191 12.683 11.652 19.721 20.515 23.943 9.054 4.331 12.136 7.139 12.136 10.987-0.1 5.908-7.321 8.634-14.059 8.634-9.336 0-14.351-1.404-21.964-4.696l-3.082-1.404-3.273 19.813c5.498 2.444 15.609 4.595 26.104 4.705 24.563 0 40.546-11.835 40.747-30.152 0.08-10.048-6.165-17.744-19.659-24.035zm83.034-36.836h-18.108c-5.58 0-9.82 1.605-12.236 7.331l-34.766 83.509h24.563l6.765-18.08h27.481l3.51 18.153h21.664l-18.873-90.913zm-26.97 54.514c0.474 0.046 9.428-29.514 9.428-29.514l7.13 29.514h-16.558zm-160.86-54.796l-22.931 61.909-2.498-12.209c-4.24-14.087-17.533-29.395-32.368-36.999l20.998 78.33h24.764l36.799-91.021h-24.764v-0.01z" fill="#FFF"></path>
            <path class="svgtipcolor" d="m51.916 111.98c-1.787-6.948-7.486-11.634-15.226-11.734h-36.316l-0.374 1.686c28.329 6.984 52.107 28.474 59.821 48.688l-7.905-38.64z" fill="#EFC75E"></path>
          </svg>
        </div>
        <div class="cardNum">
          <ul>
            <li>4514</li>
            <li>6188</li>
            <li>1234</li>
            <li>5678</li>
          </ul>
        </div>
        <div class="date">
          <p class="datepara">January        2018</p>
        </div>
        <div class="ccv">
          <p>983</p>
        </div>
      </div>
    </div>
    <div class="backlayer"></div>
  </div>
  