$main-color:  rgba(0, 146, 227, 1);
$second-color: #99d3ec;
$body-color:  rgba(0, 146, 227, 0.1);
$dark-color: #333a4d;
$blue: #003a79;

body {
  background: $dark-color;
  margin: 0;
  padding: 0;
}
* {
  font-family: sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
h1 {
  text-align: center;
  color: #545454;
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
  color: $blue;
}

/*Tabs*/
.tab__container {
  background: #fafafa;
  width: 75vw;
  margin: auto;
  border-radius: 5px;
  padding: 30px;
  max-width: 1200px;
  height: 100vh;
}

.tab__title {
  margin: 25px 0;
  
    .tab__button:first-of-type {
      margin:0;
  }
  
  .tab__button {
    padding: 15px;
    color: #545454;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    outline: none;
    margin: 0 -5px;
    cursor: pointer;
    width: 25%;

    img {
      height: 25px;
      display: block;
      margin: 0px auto 5px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: filter 0.3s ease;
    }
  }
  
  .tab_button-active {
    border-bottom: none;
    background: #fafafa;
    color: $blue;
    
    img {
      filter: none;
    }
  }
}

.tab__inside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  visibility: hidden; 
  opacity: 0;
  height: 0;
  transform: translateY(10px);
  transition: transform .3s ease-in;
  
  .tab__inside-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
  img {
    height: 150px;
    display: block;
    margin: auto;
  }
  }
  
  .tab__inside-text {
	padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    p {
	  padding: 10px;
      color: #545454;
      font-size: 14px;
      font-weight: 100;
    }
    
    button {
      border-radius: 30px;
      text-transform: uppercase;
      padding: 10px;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
      border: none;
      cursor: pointer;
      background: $blue;
      color: #fff;
      transition: all 0.3s ease;
      width: 100px;
      
      &:hover {
        background: #fff;
        color: $blue;
        
      }
    }
  }
}

.tab__inside-active {
  visibility: visible; 
  opacity: 1;
  height: 100%;
	transform: translateY(0);
	transition: transform .3s ease-out 0.1s, opacity .3s ease-out 0.1s;
}

// comentario

.subContainer {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0px,-50%);
	transform: translate(365px,-55%);
	height: 270px;
	width: 400px;
	border-radius: 9px;
	font-family: "Roboto", sans-serif;
	bottom: 0;
	color: #fff;
	min-height: 0;
	min-width: 0;
	box-shadow: -10px 10px 40px 1px #000;
	.delantera {
		width: 100%;
		border-radius: 9px;
		padding: 20px;
		background: url('/assets/img/bg-tarjeta/bg-tarjeta-02.jpg');
		background-size: cover;
	}
}
.delantera {
	.logo-marca {
		text-align: right;
		min-height: 50px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-width: 80px;
		}
	}
	.chip {
		width: 100%;
		max-width: 50px;
		margin-bottom: 20px;
	}
	.grupo {
		.label {
			font-size: 16px;
			color: #7d8994;
			margin-bottom: 5px;
		}
		.numero {
			background: none;
			color: #fff;
			font-size: 22px;
			text-transform: uppercase;
		}
		.nombre {
			color: #fff;
			font-size: 22px;
			text-transform: uppercase;
		}
		.ccv {
			background: none;
			color: #fff;
			font-size: 22px;
			text-transform: uppercase;
			max-width: 100px;
		}
		.expiracion {
			color: #fff;
			font-size: 22px;
			text-transform: uppercase;
			width: 100px;
		}
	}
	.flexbox {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}
}


* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	overflow: visible;
}
.container {
	position: absolute;
	width: 600px;
	height: 400px;
	background: #FFF;
	box-shadow: 0px 0px 40px 1px #000;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(0%, 0%);
	transform: translate(30%, 0%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	-webkit-box-pack: justify;
	justify-content: space-between;
	grid-template-areas: "mGrid card";
	min-height: 0;
	min-width: 0;
	border-radius: 9px;
	z-index: 7;
}
.mGrid {
	grid-area: mGrid;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	overflow: hidden;
	-webkit-box-pack: center;
	justify-content: center;
	margin-top: 0px;
	margin-left: 30px;
}
.total {
	padding-top: 50px;
	align-self: end;
	p {
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 400;
		color: #808eab;
		letter-spacing: 0.15rem;
		&:last-child {
			font-size: 2rem;
			font-weight: bold;
			color: #0b82f8;
			padding-top: 10px;
			font-family: "Roboto", sans-serif;
		}
	}
}
.detail {
	font-family: "Roboto", sans-serif;
	align-self: start;
	display: grid;
	margin-top: 32px;
	grid-template-rows: repeat(3, 1fr);
	p {
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 400;
		color: #808eab;
		letter-spacing: 0.15rem;
		margin-bottom: 10px;
	}
	ul {
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		font-family: "Roboto", sans-serif;
		-webkit-box-pack: center;
		justify-content: center;
		align-content: start;
		li {
			display: inline-block;
			color: #515860;
			text-align: left;
			font-size: 15px;
			&:last-child {
				text-align: right;
				color: #0b82f8;
				font-family: "Roboto", sans-serif;
			}
		}
	}
}
button.new {
	display: block;
	justify-self: center;
	align-self: center;
	font-family: "Open Sans", sans-serif;
	background: #ffffff;
	color: #00c100;
	border: 1px solid #00c100;
	text-transform: uppercase;
	font-size: 0.97rem;
	opacity: 0.8;
	font-weight: lighter;
	padding: 7px 40px;
	border-radius: 1.6rem;
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	&:hover {
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
		background: #00c100;
		color: #FFF;
	}
}
button.cancel {
	display: block;
	justify-self: center;
	align-self: center;
	font-family: "Open Sans", sans-serif;
	color: #fb0000;
	background: #ffffff;
	border: 1px solid #fb0000;
	text-transform: uppercase;
	font-size: 0.97rem;
	opacity: 0.8;
	font-weight: lighter;
	padding: 7px 40px;
	border-radius: 1.6rem;
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	&:hover {
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
		background: #fb0000;
		color: #FFF;
	}
}